<main data-sidenav class="content">
    <div class="content__nav">
        <div class="content__nav__left">
            <span>Welcome!</span>
        </div>
        <div class="content__nav__right">
            <span>Minton</span>
            <a href="#">Dashboard</a>
        </div>
    </div>
    <div class="content__row1">
        <div class="content__row1__container">
            <img src="./assets/images/green.jpg" alt="Green">
            <div class="content__row1__container__text">
                <h4>64,570</h4>
                <span>Today's value</span>
            </div>
        </div>
        <div class="content__row1__container">
            <img src="./assets/images/blue.jpg" alt="Blue">
            <div class="content__row1__container__text">
                <h4>31,570</h4>
                <span>Total revenue</span>
            </div>
        </div>
        <div class="content__row1__container">
            <img src="./assets/images/red.jpg" alt="Red">
            <div class="content__row1__container__text">
                <h4>280</h4>
                <span>Today's sales</span>
            </div>
        </div>
        <div class="content__row1__container">
            <img src="./assets/images/purple.jpg" alt="Purple">
            <div class="content__row1__container__text">
                <h4>0.16%</h4>
                <span>Conversion</span>
            </div>
        </div>
    </div>
    <div class="content__row2">
        <div class="content__row2__container">
            <h5>YEARLY SALES REPORT</h5>
        </div>
        <div class="content__row2__container">
            <h5>TOTALREVENUE</h5>
        </div>
        <div class="content__row2__container">
            <h5>TOTAL REVENUE</h5>
        </div>
    </div>
    <div class="content__row3">
        <div class="content__row3__left">
            <div class="content__row3__left__container">
                <h5>LATEST PROJECTS</h5>
                <span>Yur awesome text goes here</span>
                <table>
                    <thead>
                        <th>#</th>
                        <th>Project name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Status</th>
                        <th>Assign</th>
                    </thead>
                    <tr>
                        <td>1</td>
                        <td>Minton Admin v1</td>
                        <td>01/01/2016</td>
                        <td>26/04/2016</td>
                        <td>Released</td>
                        <td>CoderThemes</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Minton Frontend v1</td>
                        <td>01/01/2016</td>
                        <td>26/04/2016</td>
                        <td>Released</td>
                        <td>MintonAdmin</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Minton admin v1.1</td>
                        <td>01/05/2016</td>
                        <td>10/05/2016</td>
                        <td>Pending</td>
                        <td>CoderThemes</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Minton Frontend v1.1</td>
                        <td>01/01/2016</td>
                        <td>31/05/2016</td>
                        <td>Work In Progress</td>
                        <td>MintonAdmin</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Minton admin v1.3</td>
                        <td>01/01/2016</td>
                        <td>31/05/2016</td>
                        <td>Coming Soon</td>
                        <td>CoderThemes</td>
                    </tr>
                </table>  
            </div>
        </div>
        <div class="content__row3__right">
            <div class="content__row3__right__container">
                <div class="content__row3__right__container__id"></div>
                <div class="content__row3__right__container__admin">
                    <h4>Chaengle</h4>
                    <span>coderthemes@gmail.com</span>
                    <h5>Admin</h5>
                </div>
            </div>
            <div class="content__row3__right__container">
                <div class="content__row3__right__container__id"></div>
                <div class="content__row3__right__container__user">
                    <h4>Chaengle</h4>
                    <span>coderthemes@gmail.com</span>
                    <h5>Admin</h5>
                </div>
            </div>
            <div class="content__row3__right__container">
                <div class="content__row3__right__container__id"></div>
                <div class="content__row3__right__container__admin__pink">
                    <h4>Chaengle</h4>
                    <span>coderthemes@gmail.com</span>
                    <h5>Admin</h5>
                </div>
            </div>
        </div>
    </div>   
</main>
<footer data-sidenav>
    <span>
        2017 &copy; Minton
    </span>
</footer>