<nav class="nav">
    <div class="nav__left">
        <a href="#">
            <img src="./assets/images/fingerprint-24px.svg" alt="Logo">
            <h1>MINTON</h1>
        </a>
    </div>
    <div class="nav__right">
        <div class="nav__right__menu">
            <a href="#"><img class="nav__icon" src="./assets/images/menu-24px.svg" alt=""></a>
            <div class="nav__search">
                <input type="text" name="SearchBar" id="SearchBar" placeholder="Search..">
                <input type="image" class="nav__search__icon" id="SearchBar" src="./assets/images/search-24px.svg" height="20px" width="20px">
            </div>
        </div>
        <div class="nav__right__list">
            <img class="nav__icon" src="./assets/images/more_horiz-24px.svg" alt="">
            <img class="nav__icon" src="./assets/images/notifications-24px.svg" alt="">
            <div class="nav__right__id"></div>
        </div>
    </div>
</nav>