@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'variables.scss';
@import 'nav.scss';
@import 'sidenav.scss';
@import 'content.scss';

body {
    margin: 0 auto;
    background-color: $background;
    font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(200, 200, 200); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145); 
  }