@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'variables.scss';
@import 'nav.scss';
@import 'sidenav.scss';
@import 'content.scss';
@import 'scrollbar.scss';

body {
    margin: 0 auto;
    background-color: $background;
    font-family: 'Roboto', sans-serif;
}
