.content {
    margin-top: 8vh;
    margin-left: $nav_width;
    max-width: 1800px;
    z-index: 999;
    padding:10px;
        &__nav {
            margin: 5px;
            padding: 5px;
            color: #565f6f;
            display: flex;
            justify-content: space-between;
            &__left {
                font-weight: bold;
            }
            &__right{
                font-size: 14px;
                a {
                    position: relative;
                    text-decoration: none;
                    color: #565f6f;
                    &:before{
                        content: '/';
                        left: -12px;
                        position: absolute;
                    }
                }
                span {
                    margin-right: 15px;
                    color: #1c83fe;
                }
            }
        }
        &__row1 {
            display: flex;
            flex-wrap: wrap;
            &__container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 1;
                min-width: 200px;
                height: 60px;
                @extend %content__container;
                    img {
                        width:50px;
                        height: 50px;
                    }
                    &__text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-end;
                        color: #797979;
                            h4 {
                                margin: 0;  
                            }
                            span {
                                font-size: 12px;
                            }
                    }
            }
        }
            &__row2 {
                display: flex;
                flex-wrap: wrap;
                &__container{
                        display: flex;
                        flex: 1;
                        min-width: 200px;
                        height: 250px;
                        @extend %content__container;
                            h5{
                                @extend %container_h5;
                            }
                    }
            
            }
            &__row3 {
                display: flex;
                flex-wrap: wrap;
                    &__left {
                        flex: 1;
                        min-width: 67%;
                            &__container {
                               @extend %content__container;
                               overflow-x:auto;
                                h5 {
                                    @extend %container_h5;
                                }
                                span {
                                    font-size: 13px;
                                    margin: 0;
                                    color: #797979;
                                }
                                table {
                                    margin-top: 15px;
                                    border: 0px;
                                    border-collapse: collapse;
                                    width: 100%;
                                    color: #565f6f;
                                    font-size: 13px;
                                    text-align: left;
                                        thead {
                                            border-bottom: 1px solid #565f6f;
                                                th {
                                                    padding: 10px;
                                                }
                                        }
                                        td {
                                            padding: 10px;
                                        }

                                }
                            }
                    }
                    &__right {
                        flex: 1;
                        min-width: 200px;
                        &__container {
                            display: flex;
                            align-items: center ;
                            @extend %content__container;
                            margin-bottom: 10px;  
                            &__id {
                                height: 50px;
                                width: 50px;
                                margin: 0 10px 0 0;
                                background-image: url('../images/nav_face.jpg');
                                border-radius: 50%;
                                background-size: cover;
                                background-repeat: no-repeat;
                            }
                            &__admin {
                                @include usercolor(#f9c72c);
                            }
                            &__admin__pink {
                                @include usercolor(#ea407a);
                            }
                            &__user {
                                @include usercolor(#84ca8c);
                            }
                        }
                         
                    }
            }
}

footer {
    margin-top: 30px;
    margin-left: $nav_width;
    padding-left: 20px;
    max-width: 1800px;
    height: 50px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
        span {
            font-size: 12px;
            color:  #565f6f;
        }
}