.sidenav {
    overflow-y: scroll;
    position: fixed;
    top: $nav_height;
    width: $nav_width;
    height: 100vh - $nav_height;
    background-color: white;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
        h5 {
            padding: 20px;
            margin: 0;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        li {
            padding: 10px 0px;
            display: flex;
            align-items: center;
            border-left: 3px solid white;
        }
        li:hover {
            padding: 10px 0px;
            background-color: #f2f2f2;
            border-left: 3px solid #27409c;
        }
        img {
            padding: 0 20px;
        }
        a {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 15px;
            text-decoration: none;
            color: black;
                &:after{
                    content: '>';
                    right: 30px;
                    position: absolute;
                }
        }
        a:hover{
            color: #666666;
        }
&.nav--small {
    width: $nav_width_small;
    overflow-x: hidden;
    span {
        display: none;
    }
    a {
        &:after {
            display: none;
        }
    }
}
}

